---
layout: default
aside_message : This is a post kind layout.

opengraph:
  image: /assets/images/authors/broken-person.png
---

  {% include post/navigation.html %}

  <h2>{{ page.title | default: site.title }}</h2>
  <pre>{{ page.date | date: "%B %d, %Y" }}</pre>

  {{ content }}

  {% include post/navigation.html %}
