{% assign postsByYear = posts
          | group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  <section>
    <p class ="anchor-target" 
         id="{{ year.name }}"><b>{{ year.name | text_year }}</b></p>

    {% assign postsByMonth = year.items
              | group_by_exp:"post", "post.date | date: '%m'"
              | sort: 'name'
              | reverse %}
    <ul>
      {% for month in postsByMonth %}
      <li>
        {% for post in month.items limit:1 %}
        <div id="{{ year.name }}-{{ month.name }}">
             {{ post.date | date: '%b - %Y' }}</div>
        {% endfor %}

        <ul>
          {% for post in month.items %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </section>

{% endfor %}
</div>
