---
layout: default
---

  <h2>{{ page.title | default: site.title }}</h2>
  <pre>{{ page.date | date: "%B %d, %Y" }}</pre>
  <br/>

  <strong>This is a post kind layout.</strong>
  <br/>

  {{ content }}
