<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title | default: site.title }}</title>
</head>

<body>
  <!-- header -->
  <p><i>Your mission, should you decide to accept it.</i></p>
  <hr/>

  <!-- main -->
  <main role="main">
    <h2>{{ page.title | default: site.title }}</h2>

    {{ content }}

    <blockquote>Any question? <b>Good Luck</b>.</blockquote>
  </main>

  <!-- footer -->
  <hr/>
  <p><i>As always, should you be caught or killed,
  any knowledge of your actions will be disavowed.</i></p>
</body>

</html>

